{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'mobile_password.css'%}">
<div class="main_page">
    <a href="{% url 'resell:profile' %}">< 프로필</a>
</div>
<div class="password_inner">

    <div class="title">
        <h1>{% trans "Change Password" %}</h1>
    </div>
    <div class="password_box">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            <div class="input_box">
                <input class="input_item" type="password" name="oldpassword" placeholder="현재 비밀번호"
                       autocomplete="current-password" required="" id="id_oldpassword"
                       value="{{ form.oldpassword.value|default_if_none:'' }}">
                <div class="error">
                    {% if form.oldpassword.errors %}
                    <ul>
                        {% for error in form.oldpassword.errors %}
                        <li>
                            <span> {{ error }} </span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <input class="input_item" type="password" name="password1" placeholder="새 비밀번호"
                       autocomplete="new-password" required="" id="id_password1"
                       value="{{ form.password1.value|default_if_none:'' }}">
                <div class="error">
                    {% if form.password1.errors %}
                    <ul>
                        {% for error in form.password1.errors %}
                        <li>
                            <span> {{ error }} </span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <input class="input_item" type="password" name="password2" placeholder="새 비밀번호 (확인)" required=""
                       id="id_password2" value="{{ form.password2.value|default_if_none:'' }}">
                <div class="error">
                    {% if form.password2.errors %}
                    <ul>
                        {% for error in form.password2.errors %}
                        <li>
                            <span> {{ error }} </span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="signup_info">
                    <span>*최소8자리,숫자,특수문자 포함</span>
                </div>
                <div class="error">
                    {% if form.non_field_errors %}
                    <ul>
                        {% for error in form.non_field_errors %}
                        <li>
                            <span> {{ error }} </span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <button class="reset_b" type="submit" name="action">{% trans "Change Password" %}</button>
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
