
ul{
    list-style-type: none;
    padding: 0px;
}

a{
    text-decoration-line : none;
    color: black;
}


body {
    display: block;
    margin: 0px;
}

#message_box {
  opacity: 1;
  transition: opacity 2s;
}