

.main_page{
    display:flex;
    justify-content: center;
    margin-top:30px;
}

.main_page a{
    color:rgba(0 0 188);
}

.password_inner{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.password_box{
    width:264px;
}

.input_box{
    display:flex;
    flex-direction: column;
    background-color: #fff;
    flex-grow:1;
}

.input_item{
    border: solid 1px #e6e6ea;
    border-radius: 6px;
    height: 50px;
    margin-bottom:5px;
    width: 250px;
    padding-left:10px;
    font-size:16px;
}

.reset_b{
    height: 40px;
    font-size:16px;
    border:none;
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
}

.error ul{
    margin:0 5px;
    color: red;
    font-size: 13px;
}

.signup_info{
    margin-bottom:4px;
}

.signup_info span{
    color: #9f9d9d;
    font-size: 13px;
}