{% extends 'base.html'%}

{% block content %}

<div class="title">
    댓글입력
</div>

<form method="post">
    {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                {% if field.errors %}
                <div>
                    <strong>{{ field.label }}</strong>
                    {{ field.errors }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    <textarea name="content" id="comment2" rows="15" >{{ comment_form.content.value|default_if_none:'' }}</textarea>
    <input type="hidden" name="level" value="0">
    <input type="submit" id="modify" value="댓글등록">
</form>

{% endblock %}